* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "JetBrains Mono", serif;
  font-size: 20px;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.app__weather {
  padding: 30px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  border-radius: 50px;
  min-width: 400px;
}

.app__form {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 100%;
}

.app__input {
  position: relative;
  width: 100%;
}

.app__input_field {
  width: 100%;
  padding: 15px 10px 10px;
  border: none;
  color: #fff;
  border-right: 10px;
  background: rgba(0, 0, 0, 0.7);
  transition: 0.3s;
}

.app__input_placeholder {
  position: absolute;
  top: 12px;
  left: 10px;
  font-size: 14px;
  transition: 0.3s;
}
.app__input.--error {
  color: red;
  position: absolute;
  left: 10px;
  top: 100%;
  font-size: 12px;
  pointer-events: none;
  opacity: 0;
  transition: 0.3s;
}
.app__input:focus-within .app__input_placeholder,
.app__input.--filled .app__input_placeholder {
  top: 0;
  font-size: 10px;
}

.app__input.--error .app__input_field {
  border: 1px solid red;
}
.app__input.--error .app__input_error {
  opacity: 1;
}
.app__button {
  background: rgba(0, 0, 0, 0.7);
  border: none;
  min-width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}

.app__result {
  margin-top: 30px;
  line-height: 1.5;
}

.app__title {
  font-size: 36px;
}
.app__info {
  display: flex;
  align-items: center;
}
.--temp.app__info {
  font-size: 28px;
}
